div.App {
  height: 100dvh;
  display: flex;
  flex-flow: column nowrap;

  div.NavigationBar {
    flex: 0 1 50px;
  }

  div.PageContainer {
    flex: 1 1 auto;
    overflow: scroll;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    &>div {
      flex: 1 1 auto;
      width: 100%;
    }
  }
}
