section.CallToActionSection {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 48px;

    a.GetStartedBtn {
        flex: 0 1 300px;
        text-decoration: none;
        color: initial;
        border: none;
        background-color: var(--secondary-color);
        color: var(--light-text);
        padding: 12px;
        text-align: center;
        border-radius: 2em;
        font-weight: bold;
        transition: 500ms ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: var(--primary-color);
            box-shadow: 0 0 8px var(--secondary-color);
        }
    }
}
