div.UserPage {
    display: flex;
    flex: row nowrap;
    overflow-y: auto;
    scroll-behavior: smooth;

    section.ModelsSection {
        flex: 0 0 150px;
        height: 100%;
        user-select: none;
    }

    section.ModelListSection {
        flex: 1 1 auto;
        height: 100%;
    }
}
